#
# (c) Copyright 2021 Micro Focus or one of its affiliates.
#
# Licensed under the MIT License (the "License"); you may not use this file
# except in compliance with the License.
#
# The only warranties for products and services of Micro Focus and its affiliates
# and licensors ("Micro Focus") are as may be set forth in the express warranty
# statements accompanying such products and services. Nothing herein should be
# construed as constituting an additional warranty. Micro Focus shall not be
# liable for technical or editorial errors or omissions contained herein. The
# information contained herein is subject to change without notice.
#

services:

  api-service:
    image: ${ISOL_DOCKER_REGISTRY}/idol-solutions/api-service:${ISOL_VERSION}
    networks:
      - main
    volumes:
      - ${ISOL_API_SERVICE_KEYSTORE_PATH}:/keystore.jks
    ports:
      - ${ISOL_API_SERVICE_DOCKER_PORT}:${ISOL_API_SERVICE_INTERNAL_PORT}
    environment:
      - ISOL_ENTITY_STORE_HOST=${ISOL_ENTITY_SERVICE_HOST}
      - ISOL_ENTITY_STORE_PORT=${ISOL_ENTITY_SERVICE_PORT}
      - ISOL_ENTITY_STORE_PATH=${ISOL_ENTITY_SERVICE_PATH}
      - ISOL_ENTITY_STORE_TRAVERSAL_SOURCE=${ISOL_ENTITY_SERVICE_TRAVERSAL_SOURCE}
      - ISOL_AUTH_SERVICE_PROTOCOL=${ISOL_AUTH_SERVICE_PROTOCOL}
      - ISOL_AUTH_SERVICE_HOST=${ISOL_AUTH_SERVICE_HOST}
      - ISOL_AUTH_SERVICE_PORT=${ISOL_AUTH_SERVICE_PORT}
      - ISOL_AUTH_SERVICE_PATH=${ISOL_AUTH_SERVICE_PATH}
      - ISOL_AUTH_SERVICE_REALM=${ISOL_AUTH_SERVICE_REALM}
      - ISOL_AUTH_SERVICE_API_CLIENT=${ISOL_AUTH_SERVICE_API_CLIENT}
      - ISOL_AUTH_SERVICE_API_CLIENT_SECRET=${ISOL_AUTH_SERVICE_API_CLIENT_SECRET}
      - ISOL_AUTH_SERVICE_TLS_REQUIRED=${ISOL_AUTH_SERVICE_TLS_REQUIRED}
      - ISOL_FILE_STORE_PROTOCOL=${ISOL_EXTERNAL_PROTOCOL}
      - ISOL_FILE_STORE_HOST=${ISOL_FILESTORE_SERVICE_HOST}
      - ISOL_FILE_STORE_PORT=${ISOL_FILESTORE_SERVICE_PORT}
      - ISOL_FILE_STORE_PATH=${ISOL_FILESTORE_SERVICE_PATH}
      - ISOL_FILE_STORE_USER=${ISOL_FILESTORE_SERVICE_USERNAME}
      - ISOL_FILE_STORE_PASSWORD=${ISOL_FILESTORE_SERVICE_PASSWORD}
      - ISOL_FILE_STORE_BUCKET=${ISOL_FILESTORE_SERVICE_BUCKET}
      - ISOL_ANALYSIS_HOST=${ISOL_ANALYSIS_HOST}
      - ISOL_ANALYSIS_API_PORT=${ISOL_ANALYSIS_API_PORT}
      - ISOL_ANALYSIS_API_PATH=${ISOL_ANALYSIS_API_PATH}
      - ISOL_ANALYSIS_JOBS_PORT=${ISOL_ANALYSIS_JOBS_PORT}
      - ISOL_ANALYSIS_JOBS_PATH=${ISOL_ANALYSIS_JOBS_PATH}
      - ISOL_AUDIT_HOST=${ISOL_AUDIT_DB_HOST}
      - ISOL_AUDIT_PORT=${ISOL_AUDIT_DB_PORT}
      - ISOL_AUDIT_USERNAME=${ISOL_AUDIT_DB_USERNAME}
      - ISOL_AUDIT_PASSWORD=${ISOL_AUDIT_DB_PASSWORD}
      - ISOL_AUDIT_DATABASE_NAME=${ISOL_AUDIT_DB_NAME}
      - ISOL_API_SERVICE_KEYSTORE_PATH=/keystore.jks
      - ISOL_API_SERVICE_KEYSTORE_PASSWORD=${ISOL_API_SERVICE_KEYSTORE_PASSWORD}
      - ISOL_API_SERVICE_KEYSTORE_CERT_ALIAS=${ISOL_API_SERVICE_KEYSTORE_CERT_ALIAS}
      - ISOL_API_SERVICE_ALLOWED_ORIGINS=${ISOL_EXTERNAL_PROTOCOL}://${LEMA_UI_EXTERNAL_HOST}:${LEMA_UI_EXTERNAL_PORT}
      - ISOL_API_SERVICE_BASE_URL=${ISOL_EXTERNAL_PROTOCOL}://${ISOL_API_SERVICE_EXTERNAL_HOST}:${ISOL_API_SERVICE_EXTERNAL_PORT}${ISOL_API_SERVICE_EXTERNAL_PATH}
